@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.main-cont {min-height:90vh;}
#landing-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height:400px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Pictures/cookie.jpg");
}
.info-btn {
    padding: 10px;
    width: 100px;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
    background-color: cornsilk;
    box-shadow: 0px 0px 10px 2px burlywood;
    opacity: 0.7;
    transition: all 1s;
    cursor:pointer;
    margin: 10px;
}
.info-btn:hover {opacity: 1}
.info-btn:focus {outline: none;}
#landing-div p {
    margin:0;
    margin-bottom:15px;
    color:white;
    font-size:32px;
}
#landing-div button {
    border-radius: 40px;
    padding:8px;
    width:120px;
    background:white;
}
#landing-slideshow {
    height:300px;
    background-image: url('../../Pictures/cookie.jpg');
    background-position: center;
    background-size: cover;
    animation: slideshow 10s infinite;
    width: 75%;
    margin: 15px auto;
}
#info-box {
    display: flex;
}
#info-box > div {
    width:100%;
}
@keyframes slideshow {
    0% {background-image: url('../../Pictures/cookie.jpg');}
    25% {background-image: url('../../Pictures/cookie2.jpg');}
    50% {background-image: url('../../Pictures/cookie3.jpg');}
    75% {background-image: url('../../Pictures/cookie4.jpg');}
    100% {background-image: url('../../Pictures/cookie.jpg');}
}
input {
    width:50%;
    margin:10px 0px;
    padding:10px;
    border:0;
    -webkit-appearance: none;
    -webkit-box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
input[type='textarea']{height:100px;}

@media (max-width: 500px){
#landing-slideshow {
    width:100%;
    margin-top:0;
}
input {width:90%;}
#info-box {flex-direction: column;}
#info-box > div {width:100%;}
}